.sign-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.separator {
    border: 1px solid black;
    margin: 0 30px;
    padding: 250px 0;
}