.cart-icon {
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
  
    .shopping-icon {
      width: 24px;
      height: 24px;
    }
  
    .item-count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 5px;
      left: 15px;
    }
  }